<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Consommation ebanking test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>
<body>


<div class="container">

    <div class="starter-template">
        <h1>Thymeleaf Consommation ebanking test</h1>
        <h2>
            <!--            <span th:text="'Message: ' + ${message}"></span>
                        <span th:text="'Nom: ' + ${clients.nom}"></span><br/>-->
            <span th:text="'Nom: ' + ${compte.id}"></span><br/>
            <span th:text="'Nom: ' + ${compte.type}"></span><br/>
            <span th:text="'Nom: ' + ${compte.solde}"></span><br/>

            <!--            <span th:text="'Nom: ' + ${cl1.nom}"></span>
                        <span th:text="'Nom: ' + ${cl1.prenom}"></span>-->
        </h2>
    </div>

</div>
<!-- /.container -->


</body>
</html>
